#html,
body {
  padding: 0;
  margin: 0;
  background-color: #e6e6e6;
  opacity: 0.95;
}

#my_header {
  background: url(pic4.png);
  background-size: cover;
  height: 450px;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  margin: auto;
  color: white;
  font-family: Arial;
  padding-top: 110px;
  font-size: 36px;
}

#para1 {
  text-align: center;
  margin: auto;
  color: white;
  font-family: Arial;
  font-size: 18px;
}

#para3 {
  text-align: center;
  margin: auto;
  color: white;
  font-family: Arial;
  font-size: 18px;
}

#para4 {
  text-align: center;
  margin: auto;
  color: white;
  font-family: Arial;
  font-size: 18px;
}

#button1 {
  text-align: center;
  margin: auto;
  color: white;
  background-color: #262626;
  border: 0.5px solid white;
  font-family: Arial;
  font-size: 18px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-color: #808080;
  position: absolute;
  left: 44%;
}
#writing_section_title {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  font-family: Arial;
  padding-top: 1%;
  color: #262626;
}

#writing_section_title2 {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  font-family: Arial;
  padding-top: 1%;
  color: #262626;
}

#writing_section_title3 {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  font-family: Arial;
  padding-top: 5%;
  color: white;
}

#writing_section_title4 {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  font-family: Arial;
  padding-top: 5%;
  color: white;
}

#grid-container {
  display: grid;
  grid-gap: 35px;
  text-align: center;
  grid-template-columns: 420px 400px;
  position: absolute;
  left: 16%;
  font-size: 18px;
  font-family: Arial;
  margin-bottom: 100px;
}

#grid_item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  color: #262626;
}

#grid_item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  color: #262626;
}
/*------------------SECOND GRID-------------------*/

#grid-container2 {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 5px 270px 270px 270px 5px;
  background-color: #e6e6e6;
  position: absolute;
  left: 13%;
}

#grid-container2 > div {
  background-color: #262626;
}

#column1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

#column2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

#column3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

#column4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  font-family: Arial;
  font-size: 18px;
  font-weight: lighter;
}

#column5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  font-family: Arial;
  font-size: 18px;
}

#column6 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  font-family: Arial;
  font-size: 18px;
}

#column1_text {
  text-align: center;
  font-family: Arial;
  color: #e6e6e6;
}

/* ------- SINGLE PARAGRAPH SECTION  ------- */

#flex-container {
  display: flex;
  text-align: center;
  position: absolute;
  left: 17%;
}

#flex1 {
  font-size: 18px;
  font-family: Arial;
  text-align: center;
}

/* ------- DOUBLE PARAGRAPH SECTION  ------- */

#grid-container3 {
  display: grid;
  grid-gap: 0px;
  text-align: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 140px 140px;
  font-size: 18px;
  font-family: Arial;
  margin-bottom: 0px;
}

#grid-item3 {
  background: #2690d4;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

#grid-item4 {
  background-color: #262626;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

/* ---------- FINAL SECTION  ---------- */

#grid-container4 {
  display: grid;
  grid-gap: 0px;
  text-align: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px 50px;
  font-size: 18px;
  font-family: Arial;
  margin-bottom: 0px;
  margin-top: 0px;
  color: white;
}

#grid-item5 {
  background: black;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
}

#grid-item6 {
  background-color: black;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 32;
  text-align: center;
}
